alive-progress
numpy
geopandas
psutil
pyproj
scikit-image
requests
zenodo_search

gdal[numpy]

git+https://github.com/quantifyearth/iucn_modlib
git+https://github.com/quantifyearth/pyshark
git+https://github.com/quantifyearth/yirgacheffe@4a2cab77f4a64e3f09497ee7098dc9ba499cda90

pylint
mypy
pytest
