alive-progress
numpy
geopandas
psutil
pyproj
scikit-image
requests
yirgacheffe
zenodo_search

gdal[numpy]

git+https://github.com/quantifyearth/iucn_modlib
git+https://github.com/quantifyearth/pyshark

pylint
mypy
pytest
types-psutil
pandas-stubs
