alive-progress
numpy
geopandas
psycopg2
requests
pyproj
SQLAlchemy
zenodo_search

gdal[numpy]

git+https://github.com/quantifyearth/pyshark
git+https://github.com/quantifyearth/yirgacheffe

pylint
mypy
pytest
